
.radio-container {
    clear: both;
    height: 44px;
}
div {
    display: block;
}
body {
     font-size: 14px;
    font-family: Lato,Helvetica,Arial,sans-serif;
    
}
.header-content {
    position: relative;
    margin: auto;
    box-sizing: border-box;
    background-color: #2574a9;
    height: inherit;
}
user agent stylesheet
div {
    display: block;
}
.header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 110px;
    background-color: #2574a9;
    color: #fff;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
}
body {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: 14px;
    font-family: Lato,Helvetica,Arial,sans-serif;
    color: #555;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
}
html {
    min-height: 100%;
    height: 100%;
    font-size: 100%;
}
.box-content{
    text-align:middle; 
}
hr{

   color: red;
   width: 100%;
   height: 20px;
   line-height: 60px;
   

}
.form-group{
    box-sizing: 50px;
    width: 30%;
    align-self: 10px;
    line-height: 45px;
    margin-left: 450px;
}
.btn btn-success{
    text-align: center;

    width: 50px;
}



.radio-container {
    clear: both;
    height: 44px;
}
div {
    display: block;
}
body {
     font-size: 14px;
    font-family: Lato,Helvetica,Arial,sans-serif;
    
}
.header-content {
    position: relative;
    margin: auto;
    box-sizing: border-box;
    background-color: #2574a9;
    height: inherit;
}
user agent stylesheet
div {
    display: block;
}
.header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 110px;
    background-color: #2574a9;
    color: #fff;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
}
body {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: 14px;
    font-family: Lato,Helvetica,Arial,sans-serif;
    color: #555;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
}
html {
    min-height: 100%;
    height: 100%;
    font-size: 100%;
}
.box-content{
    text-align:middle; 
}
hr{

   color: red;
   width: 100%;
   height: 20px;
   line-height: 60px;
   

}
.form-group{
    box-sizing: 50px;
    width: 30%;
    align-self: 10px;
    line-height: 45px;
    margin-left: 450px;
}
.btn btn-success{
    text-align: center;
    width: 50px;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}




/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 20px;
  background-color: #eee;
  margin-left: 60px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}








#minimumRange{
	width: -20px;
}

.facility{

	color: black;
    margin-left: 20px;
}
.price{

    color: black;
    margin-left: 20px;
    
}


.info{

	margin-top: 10px;
	margin-bottom: 10px;
}
#t1{
    table-layout: fixed;
}